<div class="pt-3">
  <h3>検索結果</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= time.strftime("%Y年%-m月%-d日の投稿数") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>